<% provide(:title, 'ACCOUNT') %>

<div class="account">
	<div class="left">
		<h1>New Client</h1>
		<input type="text" name="firstname" placeholder="First Name">
		<input type="text" name="lastname" placeholder="Last Name">
		<input type="email" placeholder="Email Address">
		<input type="email" placeholder="Confirm Email Address">
		<input type="password" placeholder="Password">
		<input type="password" placeholder="Confirm Password">
		<input type="submit" value="Create Account">
	</div>
	<div class="right">
		<h1>Existing Client</h1>
		<input type="email" placeholder="Email Address">
		<input type="password" placeholder="Password">
		<input type="submit" value="Sign In">
	</div>
</div>