<% provide(:title, 'BAG') %>

<div class="bag">
	<h1>Shopping Bag</h1>
	<div class="product">
		<div class="img"><%= image_tag("p1-cart.jpg") %></div>
		<div class="name">Wallet</div>
		<div class="qty"></div>
		<div class="price">$500.00</div>
	</div>
	<div class="product">
		<div class="img"><%= image_tag("p1-cart.jpg") %></div>
		<div class="name">Wallet</div>
		<div class="qty"></div>
		<div class="price">$500.00</div>
	</div>
	<div class="subtotal">Subtotal <span>$500.00</span></div>
	<button class="checkout-button">Checkout</button>
</div>