<div class="collection">
	<div class="image-container"><%= link_to image_tag("p1.jpg"), product_path %></div>
	<div class="image-container"><%= link_to image_tag("p2.jpg"), product_path %></div>
</div>