<% provide(:title, 'DELIVERY') %>

<div class="pages our-story">
	<h1>Our Story</h1>

	<p>Luxury is no longer what it should be. Selling is done based on the strength of the brand rather than the strength of the product. Designers are expected to meet price points for products, no longer using the finest materials and craftsmanship because they can't fit it within a budget. Too often, they sacrifice the artisanal, hand-made approach in search of ways to automate and cheapen the construction process. They produce sub-par products in search of higher margins, often eight to twelve times their cost.</p>

	<p>LUKE MACAULEY does not create products to a price point. Our construction process is laborious as we take hours to make a single product by hand. This is made in France, with a real <i>savoir-faire</i>. Decades of combined experience come together to create the finest pieces, from the most exquisite materials money can buy, in the best leather atelier in Paris.</p>

	<p>We make men's leather accessories from Italian python and French goatskin only. We mark our products up just 2.5 times cost and sell exclusively online.</p>

	<%= image_tag("a1.jpg", class: "a1") %>
</div>
