<% provide(:title, 'OUR STORY') %>

<div class="pages our-story">
	<h1>Our Story</h1>
	<p>It began in December 2012. My wallet made by one of the largest luxury brands in the world had just fallen apart —&nbsp;the stitching between the money compartment and the back of the wallet had broken, there was an unsightly hole in it. When I took it back to the store they said I had simply put too much money in it and they refused to exchange it. I could of course pay to have it fixed though — the irony of a luxury wallet falling apart by putting too much money in it was not lost on me. </p>

<p>I began to do research on better ways to make leather goods. I ran across editorials about saddle-stitching, “…done by hand, the saddle stitch, which has two needles working two waxed linen threads in tensile opposition. It is a handsome, graphic stitch, and done properly it will never come loose.” I (wrongly) believed the company most famous for the saddle-stitche made every product that way. </p>

<p>I had a plan to make better leather goods. A capsule collection of men’s luxury leather goods, made entirely of porosus crocodile (the most expensive leather skin available), all Made in England. I had a few samples made by a saddler in England who had made products for the Queen and had done work for a host of luxury houses. They came out terribly, but still I persisted. </p>

<p>By this point it’s May 2013. I flew to Qatar where my father was living to meet with potential investors. I met the man who orchestrated the sale of Harrods to Qatar Authority — he said my financials were too ambitious. They probably were. I was introduced to the ex-head of LVMH’s watches division —&nbsp;he tore my idea to shreds telling me Hermès had the monopoly on the best crocodile skins and I could never compete. I walked out of that meeting the most defeated I’ve felt in my life. </p>

<p>I went back to the drawing board and did more research. I discovered brands like Greats who had just launched — they were eliminating the 2x-3x markup third-party retailers work on and were selling direct to the consumer online. I thought that was amazing. What if I could sell crocodile accessories at that markup? I would have to have them made somewhere else as England was clearly not the place… Italy – everyone makes in Italy, it must be the best. </p>

<p>I played with this idea for a few months and wasted time chasing up people I had met in Qatar with my new idea to no avail. It was Christmas by this point and I was feeling again defeated. January 1st hit and Tony King sent a tweet out: “365 days of potential and possibilities. Make the most of every one of them.” That was it. </p>

<p>That same day I registered for Lineapelle — a leather fare with ~1100 exhibitors. More importantly, the small number of tanneries that are owned by and supply the major luxury brands would be there. I flew out to Bologna in March and met with all of them — from Les Tanneries Roux to D'Annonay. I spoke with one of the senior salesman and explained to him I wanted to make the finest leather goods in the world, and if he could recommend anywhere in Italy to have them made? He told me that if I wanted to make the best leather goods I would certainly not make in Italy, but in France. He explained that it is cheaper to make in Italy and that is why most of the luxury brands produce there. He gave me the name of a small atelier on the outskirts of Paris who made the exotic-skinned leather goods for the best French companies: H and C — I’m sure you can guess.</p>

<p>This was perfect. I never wanted to make a cheap product. The average luxury “Made in Italy” cardholder is ~$240 with a 10x markup, that means it’s costing about $24 to produce. At a 2.5x markup, I would be selling a product for around $60. Such a huge part of luxury is the price it costs and that was simply too “cheap”. </p>

<p>I flew to Paris after Lineapelle and met with a charming lady called Aurélie, who runs the French atelier. She showed me around the atelier and their stockrooms, with exotic skins as far as the eye could see. She spoke of the brands she made for, they were the best in the world. I was sold. </p>

<p>However, when I flew back to the UK and tried to get in contact with Aurélie, my emails were ignored and my phone calls went unreturned. Some might just walk away and find another atelier to work with — the problem I had was that I knew where the best in the world made their leather goods, and I had no interest in producing anywhere else. Over the next few months I learnt French for the sole purpose of speaking to the atelier on the phone and getting my emails answered. It was a constant struggle and weeks passed without hearing anything.</p>

<p>Four months later, I finally got prices for a production run of 100 cardholders and 50 wallets. They were expensive. Everlane — a clothing and accessories company who also work at smaller margins like LUKE MACAULEY&nbsp;— make in Spain and their cardholder costs less than €11 to produce, our cardholder costs more than €54 — that’s pure manufacturing costs, not including the materials. </p>

<p>I produced two samples, one cardholder and one wallet. They came out absolutely beautifully. Our whole idea was to strip away as much “design” as we could from each product — that also meant no details that would let anyone know what brand we were. There is no “LUKE MACAULEY MADE IN FRANCE” embossed anywhere on our pieces. When products are made to this level, a name brand is not needed to sell them.</p>

<p>Rather than sell on the strength of a name brand, I wanted to sell on the strength of our products. I had already located the best atelier in the world and I had contacts for the finest materials from Lineapelle. I wanted to make our products in a matte black python with a black goatskin lining. Our python is a bespoke matte finish (their standard finish wasn’t matte enough) from Louisiane HCP, an Italian tannery owned by Hermès Precious Leathers.  Grade One skins are used throughout the production and I ordered extra skins to ensure only the perfect parts of the snakeskin would be used.</p>

<p>For our lining we chose to use goatskin. A lot of companies use silk (and some don’t line their products at all), but in my opinion this is too fragile and flimsy. Goatskin is an extremely durable leather and our lining is the same leather you will find on the outer of a lot of luxury handbags. No expense was spared with our lining costing 2/3 as much as the python outer.</p>

<p>A little under two years from idea to launch, LUKE MACAULEY is launching with just 150 pieces of the finest leather goods it is possible to make. We don’t brand our products, but we do use the most exquisite materials and produce in the best factory in the world. That is enough. </p>

<p>We are launching with two products: a cardholder with an initial production run of 100 pieces, and a wallet with an initial production run of 50 pieces. </p>
</div>
