// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	font-size: 10px;
	height: 100%;
}

body {
	position: relative;
	background-color: #1d1d1d;
	color: #fffeec;
	font-family: "proxima-nova",serif;
	font-style: normal;
	font-weight: 100;
	font-size: 1.4em; // 1.4em = 14px;
	line-height: 1.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1 {
	font-size: 14px;
	font-weight: 100;
}

ul {
	list-style-type: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

a {
	text-decoration: none;
	color: #fffeec;
}

.pages {
	max-width: 550px;
	margin: 0 auto;
	padding: 72px 0 52px;
	p {
		-webkit-margin-before: 25px;
		-webkit-margin-after: 25px;
		font-weight: 100;
		font-size: 11px;
		letter-spacing: 1px;
	}
}

input {
	width: 100%;
	height: 40px;
	text-align: center;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	background-color: #fffeec;
	color: #1d1d1d;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 0;
	&::-webkit-input-placeholder {
		color: #1d1d1d;
	}
	&[type="submit"] {
		padding: 0;
		border: 1px solid #fffeec;
		color: #fffeec;
		background-color: #1d1d1d;
		font-weight: 100;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 9px 0;
		margin-top: 25px;
		width: 100%;
	}
}

.account {
	max-width: 1024px;
	margin: 0 auto;
	.left, .right {
		padding: 20px;
		width: calc(50% - 40px);
		float: left;
		h1 {
			margin-bottom: 25px;
		}
	}
	.left {
		margin: 72px 0;
		input {
			width: calc(50% - 3px);
			&[type="submit"] {
				width: 100%;
			}
		}
	}
	.right {
		margin: 72px 0;
		input {
			width: 100%;
			&[type="submit"] {
				width: 100%;
			}
		}
	}
}

.bag {
	padding: 72px 0 22px;
	text-align: center;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	h1 {
		border-bottom: 1px solid #fffeec;
		padding-bottom: 30px;
		margin-bottom: 0;
	}
	.product {
		width: 100%;
		border-bottom: 1px solid #fffeec;
		height: 175px;
		.img {
			height: 175px;
			display: inline-block;
			float: left;
			img {
				height: 100%;
				margin: 0;
				padding: 0;
			}
		}
		.name {
			width: 25%;
			display: inline-block;
			float: left;
			padding-top: 70px;
		}
		.qty {
			width: 25%;
			display: inline-block;
			input[type="number"] {
				font-size: 14px;
				width: 80px;
				margin: 60px auto 0;
			}
		}
		.price {
			width: 25%;
			display: inline-block;
			float: right;
			padding-top: 70px;
		}
	}
	.subtotal	{
		margin: 30px 0;
		span {
			margin-left: 30px;
		}
	}
	.checkout-button {
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

header {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #2b2b2b;
	font-weight: 100;
	z-index: 10;
	height: 56px;
	ul {
		position: relative;
		top: 2px;
		li {
			display: inline-block;
			margin: 15px 25px;
		}
	}
	ul.left {
		position: absolute;
		top: 3px;
		left: 0;
		margin-left: 75px;
	}
	ul.center {
		text-align: center;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		.logo {
			height: 20px;
		}
	}
	ul.right {
		position: absolute;
		top: 3px;
		right: 0;
		margin-right: 75px;
	}
	ul.menu {
		display: none;
		margin-left: -1000px;
		margin-top: -1000px;
		.menu-button {
			height: 0;
		}
	}
}

#footer {
	// display: none;
	position: fixed;
	// height: 26px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #0f0f0f;
	// border-top: 2px solid #fffeec;
	text-align: center;
	z-index: 10;
	ul {
		li {
			display: inline-block;
			padding: 2px 25px 2px;
			a {
				font-size: 11px;
				font-weight: 100;
			}
		}
	}
}

.social-container {
	position: relative;
	// display: inline-block;
	bottom: 70px;
	// right: 300px;
	width: 200px;
	height: 50px;
	background-color: #1d1d1d;
	border: 1px solid #fffeec;
}

.tails {
  display: none;
}
.coin {
	display: inline-block;
}
.coin:hover .tails {
    display: inline-block;
}
.coin:hover .heads {
    display: none;
}

.collection {
	height: 100%;
	// margin-left: auto;
	// margin-right: auto;
	text-align: center;
	margin-top: 56px;
	.image-container {
		height: 100%;
		display: inline;
		img {
			height: calc(100% - 78px);
			// opacity: 1;
			// -webkit-transition-duration: 300ms;
			// -o-transition-duration: 300ms;
			// transition-duration: 300ms;
			// &:hover {
			// 	opacity: 0.5;
			// }
		}
	}
}

.product-container {
	height: 100%;
	margin-top: 54px;
	.product-details {
		background-color: #1d1d1d;
		width: 300px;
		position: fixed;
		top: 150px;
		left: 25px;
		text-align: center;
		h1 {
			margin: 0;
			font-weight: 100;
			font-size: 14px;
		}
		.description {
			margin: 25px 0;
			font-weight: 100;
			font-size: 11px;
		}
		.product_link {
			font-weight: 100;
			font-size: 11px;
		}
		ul.share-links {
			position: relative;
			bottom: 15px;
			display: none;
			li {
				display: inline-block;
				margin: 0 5px;
				.facebook-link, .twitter-link, .pinterest-link {
					img {
						height: 16px;
					}
				}
			}
		}
		.added {
			display: none;
			font-weight: 100;
			position: relative;
			bottom: 11px;
		}
		.add-to-bag, .checkout {
			font-family: "proxima-nova",sans-serif;
			font-style: normal;
			font-weight: 100;
			font-size: 14px;
			width: 100%;
			outline: 0;
			background-color: #1d1d1d;
			color: #fffeec;
			text-transform: uppercase;
			padding: 9px 0;
			border: 1px solid #fffeec;
			margin-bottom: 25px;
			letter-spacing: 1px;
			cursor: pointer;
			-webkit-transition-duration: 300ms;
			-moz-transition-duration: 300ms;
			-ms-transition-duration: 300ms;
			-o-transition-duration: 300ms;
			transition-duration: 300ms;
		}
		.checkout {
			display: none;
			background-color: #fffeec;
			color: #1d1d1d;
			border: 1px solid #fffeec;
		}
	}
	.image-container-2 {
		text-align: center;
		padding: 0 350px;
		&:last-child .image-container img {
			margin-bottom: 20px;
		}
		.image-container {
			height: 100%;
			width: 100%;
			float: left;
			img {
				display: block;
				margin: 2px auto;
				height: calc(100% - 76px);
				cursor: -webkit-zoom-in; 
				cursor: -moz-zoom-in;
			}
		}
	}
}

.xl-container {
	position: absolute;
	top: -56px;
	width: 100%;
	display: none;
	background-color: #fffeec;
	z-index: 100;
	cursor: -webkit-zoom-out; 
	cursor: -moz-zoom-out;
	img {
		width: 100%;
	}
}

#masonry-container {
	margin: 83px auto 0px;
	position: relative;
	font-weight: 100;
	background-color: #1d1d1d;
	.item-container {
		display: block;
		margin: 0 auto;
		.item {
			position: absolute;
			top: 0;
			left: 0;
			width: 500px;
			margin: 2px;
			overflow: hidden;
			.first-container {
				font-weight: 100;
				font-size: 11px;
				a {
					opacity: 1;
					position: static;
					&:hover {
						opacity: 1;
					}
				}
			}
			a {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				-webkit-transition-duration: 200ms;
					-o-transition-duration: 200ms;
					transition-duration: 200ms;
				.item-overlay {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					background-color: rgba(29,29,29,0.97);
					.social-text {
						position: absolute;
						font-weight: 100;
						top: 50%;
						width: 420px;
						margin: 0 40px;
						font-size: 11px;
						text-align: center;
						z-index: 120;
					}
					.social-numbers {
						position: absolute;
						bottom: 25px;
						left: 40px;
						font-size: 11px;
						.social-love {
							height: 11px;
							display: inline;
						}
						.social-love-number {
							margin: 0 10px;
						}
						.social-comment {
							height: 11px;
							display: inline;
						}
						.social-comment-number {
							margin: 0 10px;
						}
					}
				}
			}
			img {
				max-width: 500px;
				display: block;
				margin: 0 auto;
			}
			&:nth-last-child(2), &:last-child {
				margin-bottom: 45px;
			}
			&:first-child {
			  background-color: #1d1d1d;
				p {
					-webkit-margin-before: 0em;
					-webkit-margin-after: 0em;
					padding: 25px 50px;
					font-size: 14px;
					text-align: center;
				}
				.twitter {
					margin-left: -32.5px;
				}
				.twitter, .instagram {
					position: relative;
					left: 50%;
					height: 20px;
					margin-top: -4px;
					margin-bottom: 25px;
					margin-right: 25px;
					float: left;
				}
			}
		}
	}
}

.insta-overlay {
	display: none;
	position: fixed;
	top: 5%;
	left: 10%;
	height: auto;
	border: 1px solid #fffeec;
	background-color: #1d1d1d;
	width: 80%;
	z-index: 150;
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	.insta-exit {
		height: 16px;
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 20px;
	}
	.full-image {
		width: 60%;
		height: auto;
		img {
			width: 100%;
			height: auto;
			vertical-align: bottom
		}
	}
	.right-column {
		position: absolute;
		left: 60%;
		width: 40%;
		top: 0;
		margin: 50px 0;
		z-index: 0;
		.handle {
			margin: 0 40px 25px 40px;
		}
		.caption {
			font-size: 11px;
			margin: 0 40px 25px 40px;
		}
		.social-numbers {
			font-size: 11px;
			padding-bottom: 25px;
			margin: 0 40px 25px 40px;
			border-bottom: 1px solid #fffeec;
			.social-love {
				height: 11px;
				display: inline;
			}
			.social-love-number {
				margin: 0 10px;
			}
			.social-comment {
				height: 11px;
				display: inline;
			}
			.social-comment-number {
				margin: 0 10px;
			}
		}
		.comment {
			font-size: 11px;
			margin: 0 40px 5px 40px;
		}
	}
}

.cover-fade {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1d1d1d;
	opacity: 0.90;
	z-index: 11;
}

.subscribe-box {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-left: -221px;
	margin-top: -250px;
	background-color: #1d1d1d;
	border: 1px solid #fffeec;
	z-index: 12;
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	padding: 20px;
	.subscribe-exit {
		height: 14px;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	h1 {
		text-align: center;
		margin-bottom: 25px;
	}
	div {
		margin: 15px auto;
		padding: 0;
		width: 300px;
		height: 20px;
		input {
			width: 300px;
			height: 40px;
			text-align: center;
			outline: none;
			border: none;
			padding: 0;
			margin: 15px 0;
			background-color: #fffeec;
			color: #1d1d1d;
			font-size: 11px;
			text-transform: uppercase;
			&::-webkit-input-placeholder {
				color: #1d1d1d;
			}
			&[type="submit"] {
				padding: 0;
				border: 1px solid #fffeec;
				color: #fffeec;
				background-color: #1d1d1d;
				font-weight: 100;
				font-size: 14px;
				letter-spacing: 1px;
				padding: 9px 0;
				margin-top: 25px;
				width: 300px;
			}
		}
	}
}

.social-box {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-left: -221px;
	margin-top: -250px;
	background-color: #1d1d1d;
	border: 1px solid #fffeec;
	z-index: 12;
	-webkit-transition-duration: 200ms;
	-o-transition-duration: 200ms;
	transition-duration: 200ms;
	padding: 20px;
	h1 {
		text-align: center;
	}
	.social-exit {
		height: 14px;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	.facebook-logo, .twitter-logo, .instagram-logo {
		margin: 35px 0 20px;
		height: 25px;
		width: 32.7%;
	}
}

.mobile_nav {
	position: fixed;
	top: 0;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1d1d1d;
	opacity: 0.97;
	z-index: 200;
	display: none;
	.mobile-nav-exit {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 16px;
		padding: 20px;
	}
	ul {
		width: 100%;
		height: 100%;
		overflow: scroll;
		li {
			text-align: center;
			padding: 6px;
			&:first-child {
				padding-top: 72px;
			}
			&:last-child {
				padding-bottom: 70px;
			}
			.mobile_nav_links {
				// display: none;
				color: #fffeec;
				padding: 10px;
			}
			.close {
				margin-top: 72px;
				padding: 20px;
				color: #fffeec;
			}
		}
	}
}

@media (max-width: 1024px) {

	header {
		height: 56px;
		ul {
			position: relative;
			top: 0px;
			li {
				display: inline-block;
				margin: 0;
			}
		}
		ul.left {
			display: none;
		}
		ul.center {
			// text-align: left;
			// width: 100%;
			// margin-left: 20px;
			margin-top: 18px;
			.logo {
				height: 20px;
			}
		}
		ul.right {
			display: none;
		}
		ul.menu {
			position: absolute;
			right: 0px;
			top: 0px;
			padding: 20px;
			display: block;
			margin-left: 0;
			margin-top: 0;
			.menu-button {
				height: 16px;
			}
		}
	}

	.product-container .image-container-2 {
		text-align: center;
		padding: 0;
		margin: 0 auto;
		position: relative;
		left: 163px;
	}


}

@media (max-width: 768px) {

	.social-box {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		margin: 0;
		background-color: #1d1d1d;
		opacity: 0.97;
		border: 0;
		padding: 0;
		.social-exit {
			height: 16px;
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 20px;
		}
		h1 {
			padding-top: 60px;
			text-align: center;
			margin-bottom: 25px;
		}
		.facebook-logo, .twitter-logo, .instagram-logo {
			margin: 35px 0 20px;
			height: 25px;
			width: 32.5%;
		}
	}

	.bag {
		padding: 72px 0 22px;
		text-align: center;
		max-width: 100%;
		height: 100%;
		margin: 0 auto;
		h1 {
			border-bottom: 1px solid #fffeec;
			padding-bottom: 30px;
			margin-bottom: 0;
		}
		.product {
			width: auto;
			border-bottom: 1px solid #fffeec;
			height: 175px;
			.img {
				height: 175px;
				display: inline-block;
				float: left;
				img {
					height: 100%;
					margin: 0;
					padding: 0;
				}
			}
			.name {
				width: 63%;
				display: block;
				float: left;
				position: relative;
				padding-top: 40px;
				// left: 0px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			.qty {
				width: 63%;
				display: block;
				float: left;
				position: relative;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				input[type="number"] {
					font-size: 14px;
					width: 80px;
					margin: 5px auto 0;
				}
			}
			.price {
				width: 63%;
				display: block;
				float: left;
				position: relative;
				padding-top:  0px;
				// right: 37px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
		}
		.checkout-button {
			width: calc(100% - 40px);
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	.account {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		background-color: #1D1D1D;
		.left, .right {
			padding: 20px;
			width: calc(100% - 40px);
			float: none;
			h1 {
				margin-bottom: 25px;
				text-align: center;
			}
			input {
				width: 100%;
			}
		}
		.left {
		}
		.right {
			margin-top: -72px;
			margin-bottom: 36px;
			input {
				width: 100%;
				&[type="submit"] {
					width: 100%;
				}
			}
		}
	}

	header ul.center {
		text-align: left;
		width: 100%;
		margin-left: 20px;
		margin-top: 20px;
		.logo {
			height: 16px;
		}
	}

	#footer {
		position: static;
		bottom: 2px;
		ul {
			li {
				display: block;
				padding: 6px 0px;
				&:first-child {
					padding-top: 24px;
				}
				&:last-child {
					padding-bottom: 24px;
				}
			}
		}
	}

	.collection {
		width: 100%;
		height: auto;
		text-align: center;		
		margin-bottom: -6px;
		.image-container {
			width: 100%;
			height: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
	}

	.pages {
		max-width: 100%;
		margin: 0 20px;
		padding: 72px 0 0px;
		margin-bottom: -5px;
		h1 {
			text-align: center;
		}
		img {
			// max-width: calc(100% + 40px);
			width: calc(100% + 40px);
			position: relative;
			left: -20px;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.subscribe-box {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		margin: 0;
		background-color: #1d1d1d;
		opacity: 0.97;
		border: 0;
		padding: 0;
		.subscribe-exit {
			height: 16px;
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 20px;
		}
		h1 {
			padding-top: 60px;
			text-align: center;
			margin-bottom: 25px;
		}
		input {
			width: calc(100% - 40px);
			margin-left: 20px;
			margin-right: 20px;
			-webkit-appearance: none;
  		border-radius: 0;
		}
	}

	// .cover-fade {
	// 	display: none;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	width: 0;
	// 	height: 0;
	// 	opacity: 0;
	// 	z-index: 0;
	// }

	#masonry-container {
		width: 100%;
		.item-container {
			.item {
				width: 100%;
				margin: 2px 0;
				a {
					.item-overlay {
						.social-text {
							width: 80%;
							margin: 0 10%;
						}
					}
				}
				img {
					max-width: 100%;
					display: block;
					margin: 0px auto;
				}
				&:nth-last-child(2), &:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}

	.insta-overlay {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		margin-left: 0;
		height: 100%;
		width: 100%;
		border: 0;
		background-color: #1d1d1d;
		// opacity: 0.97;
		width: 100%;
		z-index: 100;
		.full-image {
			// margin-top: 60px;
			img {
				width: 100%;
			}
		}
		.right-column {
			position: static;
			left: 0;
			width: 100%;
			top: 0;
			// margin: 50px 40px;
			.insta-exit {
				height: 16px;
				position: fixed;
				top: 0px;
				right: 0px;
				padding: 20px;
			}
			.handle {
				margin-bottom: 25px;
			}
			.caption {
				font-size: 11px;
				margin-bottom: 25px;
			}
			.social-numbers {
				font-size: 11px;
				padding-bottom: 25px;
				margin-bottom: 25px;
				border-bottom: 1px solid #fffeec;
				.social-love {
					height: 11px;
					display: inline;
				}
				.social-love-number {
					margin: 0 10px;
				}
				.social-comment {
					height: 11px;
					display: inline;
				}
				.social-comment-number {
					margin: 0 10px;
				}
			}
			.comment {
				font-size: 11px;
				margin-bottom: 5px;
			}
		}
	}

	.product-container {
		height: 100%;
		margin-top: 80px;
		.product-details {
			background-color: transparent;
			width: auto;
			position: static;
			top: 0px;
			left: 0px;
			margin: 0 20px;
			h1 {
				margin: 0;
				font-weight: 100;
				font-size: 14px;
			}
			.description {
				margin: 25px 0;
				font-weight: 100;
				font-size: 11px;
			}
			.product_link {
				font-weight: 100;
				font-size: 11px;
				margin-bottom: 25px;
			}
			ul.share-links {
				position: relative;
				bottom: 15px;
				display: none;
				li {
					display: inline-block;
					margin: 0 5px;
					.facebook-link, .twitter-link, .pinterest-link {
						img {
							height: 16px;
						}
					}
				}
			}
			.added {
				display: none;
				font-weight: 100;
				position: relative;
				bottom: 11px;
			}
			.add-to-bag, .checkout {
				font-family: "proxima-nova",sans-serif;
				font-style: normal;
				font-weight: 100;
				font-size: 14px;
				width: 100%;
				outline: 0;
				background-color: #1d1d1d;
				color: #fffeec;
				text-transform: uppercase;
				padding: 9px 0;
				border: 1px solid #fffeec;
				margin-bottom: 25px;
				letter-spacing: 1px;
				cursor: pointer;
				-webkit-transition-duration: 300ms;
				-moz-transition-duration: 300ms;
				-ms-transition-duration: 300ms;
				-o-transition-duration: 300ms;
				transition-duration: 300ms;
			}
			.checkout {
				display: none;
				background-color: #fffeec;
				color: #1d1d1d;
				border: 1px solid #fffeec;
			}
		}
		.image-container-2 {
			text-align: center;
			padding: 0;
			margin: 0;
			position: static;
			left: 0;
			&:last-child .image-container img {
				margin-bottom: 20px;
			}
			.image-container {
				height: auto;
				width: 100%;
				float: left;
				img {
					display: block;
					margin: 2px auto;
					height: auto;
					width: 100%;
				}
			}
		}
	}

}